/* Overrides */

.sidebar-about h1 {
	font-weight: normal;
}

.hidden {
	display: none;
}

div.sidebar img.social {
display: inline;
margin-right: 20px;
}

div.sidebar .mepic {
	filter:saturate(.5);
	opacity:.7;
	border-radius:50%;
	margin:10px auto;
	display: none;
}

a.source {
	font-style: italic;
}

a.filter.active {
font-weight: bold;
}

a.filter {
	/* background-color: #eee; */
}
#likes img {
	/* width:24px; */
	height: 18px;
	display: inline;
	vertical-align: text-top;
	margin-right: 4px;
}

.content li {
	padding-bottom: 3px;
}

@media (min-width: 48em) {
	div.sidebar .mepic {
display: block;
}
}

/* Form styles */

input, select, textarea {
	font-size: inherit;
  box-sizing: border-box;
}

fieldset {
  border: none;
}

fieldset div {
  padding: 8px 0;
}

label {
  float: left;
  /*font-size: 1em;*/
  text-align: left;
}

input, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: rgba(204,204,204,.2);
}

button {
  padding: 8px 12px;
	font-family: inherit;
	font-size: inherit;
}

button:disabled {
  background-color: #777;
  color: #AAA;
}


input:focus, textarea:focus {
  background   : rgba(204,204,204,.1);
  border-radius: 3px;
  outline      : #ccc;
}
