/* Overrides */

h1, h2 {
	font-family: system-ui, "PT Sans", Helvetica, Arial, sans-serif;
}

h2 {
	margin-bottom: 1rem;
}

.footer img.social {
	display: inline;
	margin-right: 20px;
}

div.social-icons {
	float: right;
}

div.copyright {
	float: left;
	font-weight: 500;
}

.sidebar-about h1 {
	font-weight: normal;
	display: inline-block;
}

.sidebar-about a h1:hover {
text-decoration: underline;
}

p.lead {
	display: inline-block;
}

ul.sidebar-nav {
	display: block;
	padding-left: 0;
}

ul.sidebar-nav li {
	display: inline;
	margin-right: 20px;
	font-weight: bold;
	text-transform: capitalize;
}

.hidden {
	display: none;
}

div.sidebar .mepic {
	filter:saturate(.8);
	opacity:.9;
	margin:10px auto;
	display: none;
	float: right;
	width: 115px;
}

a.source {
	font-style: italic;
}

a.filter.active {
font-weight: bold;
}

a.filter {
	/* background-color: #eee; */
}
#likes img {
	/* width:24px; */
	height: 18px;
	display: inline;
	vertical-align: text-top;
	margin-right: 4px;
}

.content li {
	padding-bottom: 15px;
}

.content img {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 48em) {
	div.sidebar .mepic {
display: block;
}
}

/* Form styles */

input, select, textarea {
	font-size: inherit;
  box-sizing: border-box;
}

fieldset {
  border: none;
}

fieldset div {
  padding: 8px 0;
}

label {
  float: left;
  /*font-size: 1em;*/
  text-align: left;
}

input, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: rgba(204,204,204,.2);
}

button {
  padding: 8px 12px;
	font-family: inherit;
	font-size: inherit;
}

button:disabled {
  background-color: #777;
  color: #AAA;
}


input:focus, textarea:focus {
  background   : rgba(204,204,204,.1);
  border-radius: 3px;
  outline      : #ccc;
}

.stuff {
	font-size: 90%;
	line-height: 1.35;
	margin-top: 4em;
}
