{{ define "main" -}}
<div class="posts">
<div class="post">
  <h1 class="post-title" id="top">
Hello!
  </h1>
  {{ .Content }}
  <div class="stuff">
  <p><strong>Recent Writing</strong> (<a href="/work/#writing">see all</a>)</p>
  <ul>
  {{ range first 3 (sort .Site.Data.writing ".datetime" "desc")}}
  <li>
  <a href="{{.url}}">{{.title}}</a></li>
  {{ end }}
  </ul>
  <p><strong>Recent Speaking</strong> (<a href="/work/#speaking">see all</a>)</p>
  <ul>
  {{ range first 3 (sort .Site.Data.speaking ".datetime" "desc")}}
  <li>
  <a href="{{.url}}">{{.title}}</a></li>
  {{ end }}
  </ul>
  </div>
</div>
</div>
{{- end }}
