{{ define "main" -}}

<h1>{{.Section | title}}</h1>
{{/* <p>{{ .Param "description" }}</p> */}}

{{ .Content }}

<form name="contact" method="POST" netlify>
<fieldset>
  <div class="form-field">
  <label for="name">Name:</label>
  <input id="name" type="text" placeholder="Your name" name="name"></div>
  <div class="form-field"><label for="email">Email:</label>
  <span><input id="email" type="email" placeholder="Your email address" name="email"></span>
  <div class="form-field">
  <label for="message">Message:</label>
  <span><textarea id="message" name="message" placeholder="Your message" rows="5"></textarea></span></div>
  <div class="form-field">
  <button type="submit" value="Send" id="submit">Send it</button></div>
</fieldset>
</form>
{{- end }}
