{{ define "main" -}}

<h1 id="top">{{.Section | title}}</h1>
{{/* <p>{{ .Param "description" }}</p> */}}

{{ .Content }}

<p>Check out my <a href="#favorites" class="filter filter-favorite">favorites👍</a> or filter by: <a href="#docs" class="filter filter-docs">#documentation</a>, <a href="#ux" class="filter filter-ux">#UX</a>, <a href="#wireframing" class="filter filter-wireframing">#wireframing</a>, <a href="#remote" class="filter filter-remote">#remote work</a>, or <a href="#web" class="filter filter-web">#web technologies</a>. <strong><a href="#all" class="filter filter-all hidden">(show all)</a></strong></p>

<section id="writing">
			<h2 class="filterable"><span class="favorite hidden">👍 </span>Writing <span class="docs hidden">about <strong class="highlight">documentation</strong></span><span class="ux hidden">about <strong class="highlight">UX</strong></span><span class="wireframing hidden">about <strong class="highlight">wireframing</strong></span><span class="remote hidden">about <strong class="highlight">remote work</strong></span><span class="web hidden">about <strong class="highlight">web technologies</strong></span></h2>
<ul class="filterable">
{{ range sort .Site.Data.writing ".datetime" "desc"}}
<li class="{{.tags}}">
<a href="{{.url}}">{{.title}}</a> - <time datetime="{{.datetime}}">{{ dateFormat "January 2, 2006" (.datetime) }}</time> - <a href="{{.sourceurl}}" class="source">{{.sourcename}}</a>
{{if in .tags "favorite" }}👍{{else}}{{end}}</li>
{{ end }}
</ul>

<hr>
		</section>

<section id="speaking">
			<h2 class="filterable"><span class="favorite hidden">👍 </span>Interviews and Talks <span class="docs hidden">about <strong class="highlight">documentation</strong></span><span class="ux hidden">about <strong class="highlight">UX</strong></span><span class="wireframing hidden">about <strong class="highlight">wireframing</strong></span><span class="remote hidden">about <strong class="highlight">remote work</strong></span><span class="web hidden">about <strong class="highlight">web technologies</strong></span></h2>

<ul class="filterable">
{{ range sort .Site.Data.speaking ".datetime" "desc"}}
<li class="{{.tags}}">
<a href="{{.url}}">{{.title}}</a> - <time datetime="{{.datetime}}">{{ dateFormat "January 2, 2006" (.datetime) }}</time> - <a href="{{.sourceurl}}" class="source">{{.sourcename}}</a>
{{if in .tags "favorite" }}👍{{else}}{{end}}
</li>
{{ end }}
</ul>
{{- end }}
