<div class="footer">
  <hr>
<div class="social-icons">
    <!-- social icons -->
<a href="//twitter.com/leonbarnard/" title="Twitter"><img src="{{ .Site.BaseURL }}/img/twitter.svg" class="social" width="32" height="32" alt="Twitter"></a>
<a href="//www.linkedin.com/in/leonbarnard" title="LinkedIn"><img src="{{ .Site.BaseURL }}/img/linkedin.svg" class="social" width="32" height="32" alt="LinkedIn"></a>
<a href="mailto:leonbarnard+website@gmail.com" title="Email me"><img src="{{ .Site.BaseURL }}/img/Envelope_alt_font_awesome.svg" class="social" width="32" height="32" alt="Email"></a>
<a href="//github.com/leon-barnard/" title="GitHub"><img src="{{ .Site.BaseURL }}/img/github.svg" class="social" width="32" height="32" alt="GitHub"></a>
</div>
<!-- copyright -->
<div class="copyright">
<p><small>{{ with .Site.Params.copyright }}{{.}}{{ else }}&copy; {{ now.Format "2006"}}. All rights reserved. {{end}}</small></p>
</div>
</div>