<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
    <img src="{{ .Site.BaseURL }}img/leon-sketch.png" class="mepic">
      <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
      <p class="lead">
      {{ with .Site.Params.description }} {{.}} {{ else }}{{end}}
      </p>
    </div>

    <ul class="sidebar-nav">
    {{ $currentPage := . }}
      <li><a href="{{ .Site.BaseURL }}" class="sidebar-nav-item{{if .IsHome }} active{{end}}">about</a> </li>
      {{ range .Site.Menus.main.ByWeight -}}
        <li><a href="{{.URL}}" class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}"> {{ .Name }} </a></li>
      {{- end }}
    </ul>
    <!-- social icons -->
<a href="//twitter.com/leonbarnard/" title="Twitter"><img src="{{ .Site.BaseURL }}img/twitter.svg" class="social" width="32" height="32" alt="Twitter"></a>
<a href="//www.linkedin.com/in/leonbarnard" title="LinkedIn"><img src="{{ .Site.BaseURL }}img/linkedin.svg" class="social" width="32" height="32" alt="LinkedIn"></a>
<a href="mailto:leonbarnard+website@gmail.com" title="Email me"><img src="{{ .Site.BaseURL }}img/Envelope_alt_font_awesome.svg" class="social" width="32" height="32" alt="Email"></a>
<a href="//github.com/balsamiqLeon/" title="GitHub"><img src="{{ .Site.BaseURL }}img/github.svg" class="social" width="32" height="32" alt="GitHub"></a>

<!-- copyright -->

<p><small>{{ with .Site.Params.copyright }}{{.}}{{ else }}&copy; {{ now.Format "2006"}}. All rights reserved. {{end}}</small></p>
  </div>
</div>
