{{ define "main" -}}

<h1 id="top">{{.Section | title}}</h1>
{{/* <p>{{ .Param "description" }}</p> */}}

{{ .Content }}

<section id="sideprojects">
			<h2>Side Projects</h2>
<ul>
{{ range sort .Site.Data.sideprojects ".weight" "asc"}}
<li>
<strong><a href="{{.url}}">{{.name}}</a></strong> - {{.description | safeHTML}}</li>
{{ end }}
</ul>

<hr>
		</section>

<section id="likes">
			<h2>Stuff I Like</h2>
			<ul>
			{{ range sort .Site.Data.likes ".weight" "asc"}}
			<li>
			<a href="{{.url}}">{{.name}}</a> - {{.description}}</li>
			{{ end }}
			</ul>
{{- end }}
