{{ partial "head.html" . }}
  <body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">
  {{ partial "sidebar.html" . }}
    <div class="content container">
    {{ block "main" . -}}{{- end }}
    {{ partial "footer.html" . }}
    </div>
    {{ template "_internal/google_analytics_async.html" . }}
    <!-- JS -->
    {{ if eq .Section "work"}}
    <script type="text/javascript" src="{{ .Site.BaseURL }}/js/filter.min.js"></script>
    {{ else }}
    {{ end }}
  </body>
</html>
