{{ partial "head.html" . }}
  <body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">
  {{ partial "sidebar.html" . }}
    <div class="content container">
    {{ block "main" . -}}{{- end }}
    {{ partial "footer.html" . }}
    </div>
    {{ template "_internal/google_analytics_async.html" . }}
    <!-- JS -->
    {{ if eq .Section "work"}}
    <script type="text/javascript" src="{{ .Site.BaseURL }}/js/filter.min.js"></script>
    {{ else if eq .Section "fun" }}
    <script type="text/javascript" src="{{ .Site.BaseURL }}/js/gallery.js" charset="utf-8"></script>
    {{ else }}
    {{ end }}
    <!-- Default Statcounter code for Leonland https://www.leon.land/ -->
<script type="text/javascript">
var sc_project=12878723; 
var sc_invisible=1; 
var sc_security="4a8645f0"; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js" async></script>
<noscript><div class="statcounter"><a title="Web Analytics Made Easy -
Statcounter" href="https://statcounter.com/" target="_blank"><img
class="statcounter" src="https://c.statcounter.com/12878723/0/4a8645f0/1/"
alt="Web Analytics Made Easy - Statcounter"
referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
<!-- End of Statcounter Code -->
<script async data-id="101409146" src="//static.getclicky.com/js"></script>
  </body>
</html>
